In [1]:
import pandas as pd
import censusdata

In [2]:
zvhi_df = pd.read_csv("../data/raw/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")
zvhi_df.sample(5)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31,2025-02-28,2025-03-31,2025-04-30
19411,60834,19959,7847,zip,NJ,NJ,Kenvil,"New York-Newark-Jersey City, NY-NJ-PA",Morris County,167791.545220,...,472244.411327,474839.926275,477712.540708,480157.987062,482788.407500,484996.468489,487115.685501,488813.257123,489956.455396,491737.854647
16278,89422,16573,72167,zip,AR,AR,Traskwood,"Little Rock-North Little Rock-Conway, AR",Saline County,97958.725116,...,187024.349693,186550.743439,185647.871074,184657.523847,184198.140432,185727.883240,187238.956580,188560.614220,187887.778670,186457.170605
12261,65459,12432,18414,zip,PA,PA,Dalton,"Scranton--Wilkes-Barre, PA",Lackawanna County,NaN,...,302782.350810,303295.182948,303153.171230,304917.555604,307897.444010,310490.543601,311158.342097,310393.936434,311430.514105,312858.752646
2949,84475,2982,60423,zip,IL,IL,Frankfort,"Chicago-Naperville-Elgin, IL-IN-WI",Will County,231183.973711,...,469423.600110,470195.170891,471452.854898,472594.234062,473919.877554,474776.091671,475806.788867,477133.109236,478857.237831,480323.959291
18286,86919,18706,65668,zip,MO,MO,Hermitage,NaN,Hickory County,NaN,...,197188.505150,198277.460015,199318.124560,199260.109504,199066.152822,198934.279250,198915.493480,199353.604648,200070.725845,200508.234933

In [3]:
zori_df = pd.read_csv("../data/raw/Zip_zori_uc_sfrcondomfr_sm_month.csv")
zori_df.sample(5)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2024-07-31,2024-08-31,2024-09-30,2024-10-31,2024-11-30,2024-12-31,2025-01-31,2025-02-28,2025-03-31,2025-04-30
296,71905,311,32259,zip,FL,FL,Saint Johns,"Jacksonville, FL",Saint Johns County,1446.084333,...,2286.471775,2281.652568,2285.010646,2290.603267,2297.042503,2300.036941,2283.977410,2276.799492,2254.052153,2260.932784
6538,72251,8872,32827,zip,FL,FL,Orlando,"Orlando-Kissimmee-Sanford, FL",Orange County,NaN,...,2311.438795,2320.949536,2316.878950,2298.091210,2297.171445,2263.554708,2278.667533,2278.478813,2319.152334,2332.197576
2926,81853,3123,54729,zip,WI,WI,Chippewa Falls,"Eau Claire, WI",Chippewa County,NaN,...,1147.492827,1147.840507,1146.128173,1135.095474,1131.638788,1164.516329,1194.087393,1215.305062,1184.064746,1185.404762
3041,96939,3253,92602,zip,CA,CA,Irvine,"Los Angeles-Long Beach-Anaheim, CA",Orange County,NaN,...,3352.259878,3351.194230,3385.132635,3391.068686,3362.954974,3343.917194,3350.070048,3395.590194,3379.910032,3376.148705
2474,98450,2616,95842,zip,CA,CA,Sacramento,"Sacramento-Roseville-Folsom, CA",Sacramento County,NaN,...,1824.557969,1839.545351,1824.002215,1835.894790,1876.080520,1927.858068,1911.748981,1882.751426,1836.579528,1876.000000

In [4]:
census_df = censusdata.download('acs5', 2022, censusdata.censusgeo([('zip code tabulation area', '*')]), ['B19013_001E'])
census_df.reset_index(inplace=True)
census_df["zip"] = census_df["index"].astype(str).str.extract(r'(\d{5})')
census_df = census_df[["zip", "B19013_001E"]].rename(columns={"B19013_001E": "median_income"})
census_df["median_income"] = census_df["median_income"].replace(-666666666, pd.NA)

census_df.sample(5)

         zip median_income
10950  33136         35129
24860  71006         87495
2221   07827        103594
19193  55975         79231
4581   15357         83081